* {
  margin: 0;
  padding: 0;
}

.primary {
  color: white;
  background-color: teal;
  border: 10px solid red;
  border-bottom: 5px dashed purple;
  padding: 40px 20% 20px 20%;
  margin: 50px;
  width: 50%;
}

.secondary {
  background-color: orange;
}

a:link {
  color: greenyellow;
  background-color: #000000;
  padding: 20px;
}

a:visited {
  color: #bada55;
}
a:hover {
}
a:active {
}

body {
  background: #363636 url(../images/ss_baldursgate.jpg);
  color: white;
  font-family: Verdana;
  background-size: cover;
}

header,
footer {
  background-color: silver;
  padding: 30px;
}
.cta {
}
.caps {
}
.warning {
}
.wrap {
  /* background-image: url(../images/ss_baldursgate.jpg);
  background-color: red; */
  width: 80%;
  padding: 30px;
  margin: 30px auto;
}
#contact {
}
#contact p {
}
nav {
  background-color: teal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

.module {
  margin-bottom: 40px;
  border: 1px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
p{
    background-color: salmon;
    margin-bottom: 10px;
}
img{
    border: 1px solid white;
}