* {
  margin: 0;
  padding: 0;
}

body {
  background: #363636;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  background-color: rgb(184, 180, 180);
}

p {
  color: hotpink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Courier;
  text-decoration: underline;
}
h1 {
  color: red;
}
/* hyperlinks */
a:link {
  color: orangered;
  background: silver;
  text-decoration: none;
}
a:visited {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  color: yellow;
  cursor: crosshair;
}
a:active {
  color: green;
}
/* bullets / list */
ul {
  background: orange;
}

ul li {
  background: aqua;
}
nav ul {
  background: black;
}

/* ID and classes */
#contact {
  background-color: teal;
}

#contact p {
  color: white;
}

.cta {
  background-color: white;
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
}

.emphasis {
  font-style: italic;
  text-transform: uppercase;
}

.warning {
  background-color: red;
}

.wrap{
    width: 70%;
    
}